@{
    ViewBag.Title = "Login";}
@model  MekaShron.Models.Login
<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="row">

    <div id="error" class="text-danger" style="display:none" >
        Invalid User name or password
    </div>
    <div class="col-lg-4 col-md-4">
        <p></p>
        <p>
            Username:
        </p>
        <p>
            <input type="text" id="UserName" placeholder="Username" />

        </p>
        <p>
            Password:
        </p>
        <p>
            <input type="password" id="Password" placeholder="Password" />
        </p>
        <p>
            <button type="button" id="submit" class="btn btn-primary">Submit</button>
        </p>
    </div>

</div>
<script src="/Scripts/jquery-3.4.1.min.js"></script>
<script src="/Scripts/Login/login.js"></script>
